<section id="about">
  <div>
    <div class="about">
      <div>
        <h2>About</h2>
        <p>
          Max (he/him) is a
          <strong>developer, designer, and artist</strong>
          who's creating websites to bridge the gap between his technical
          background and his artistic ambition. He loves structuring
          information, pairing fonts together, and twiddling with CSS for hours.
        </p>
        <p>
          He graduated from the <strong>University of Pittsburgh</strong> with a
          <strong>B.S. Computer Science</strong> and has been working freelance
          ever since.
        </p>
        <p>Want to chat? Ask him about his favorite films, games, or anime!</p>
      </div>
      <div class="portrait">
        <img
          src="../../assets/img/portrait.png"
          alt="a digital oil painting of a blonde man with glasses"
        />
        <p class="accent-text">Self Portrait, Max Niederer, 2024</p>
      </div>
    </div>
  </div>
</section>
