<section id="contact">
  <div>
    <h2>Contact</h2>
    <p>
      Feel free to contact me for any reason. You can email me directly or you
      can fill out this form (which will also send me an email).
    </p>
    <form name="contact" netlify-honeypot="favorite_color" netlify>
      <div>
        <label for="name">Name (and pronouns)</label>
        <input type="text" name="name" placeholder="Name..." id="name" />
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email..." id="email" />
        <label class="delicious" for="color"
          >List your favorite color (required)</label
        >
        <input
          class="delicious"
          type="text"
          name="favorite_color"
          placeholder="List your favorite color."
          id="color"
        />
        <label for="message">Message</label>
        <textarea
          type="message"
          name="message"
          placeholder="Message..."
          id="message"
        ></textarea>
      </div>
      <button type="submit" class="button submit">Send</button>
    </form>
  </div>
</section>
