<section id="contact">
  <div>
    <h2>Contact</h2>
    <p>
      Feel free to contact me for any reason. I'm available through email or
      this form.
    </p>
    <form name="contact" netlify>
      <input type="text" name="name" placeholder="Name (and pronouns)" />
      <input type="email" name="email" placeholder="Email" />
      <textarea
        type="message"
        name="message"
        placeholder="Message..."
      ></textarea>
      <button type="submit" class="button submit">Send</button>
    </form>
  </div>
</section>
