---
layout: layouts/base.njk
---

<div class="bio padding">
  <header>
    <div class="logo">
      <span></span>
      <h1>Max Niederer</h1>
    </div>
    <nav class="pagenav">
      <ul>
        <li>
          <a href="#portfolio" id="portfolioanchor" class="active anchorlink"
            ><span></span>Portfolio</a
          >
        </li>
        <li>
          <a href="#about" id="aboutanchor" class="anchorlink"
            ><span></span>About</a
          >
        </li>
        <li>
          <a href="#contact" id="contactanchor" class="anchorlink"
            ><span></span>Contact</a
          >
        </li>
      </ul>
    </nav>
    <button class="button hamburger hamburger-hidden" id="hamburger">
      <span class="symbol" id="rotator2"></span>
    </button>
  </header>
  <div class="blurb">
    <p class="tagline">
      <span class="symbol" id="rotator"></span>
      I'm a front-end developer and designer based in PA.
    </p>
    <ul class="linknav">
      <li>
        <a class="linkemail button" href="mailto:maxniederergvc@gmail.com"
          >maxniederergvc@gmail.com</a
        >
      </li>
      <li>
        <a
          class="linkicon button"
          href="https://www.linkedin.com/in/maxwell-niederer/"
        >
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>
      <li>
        <a class="linkicon button" href="https://github.com/maxniederer">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </li>
    </ul>
  </div>
</div>

<main class="padding">{{content | safe}}</main>
