@use "shared.scss";

html[data-theme="light"] {
  --color-light: #eee;
  --color-dark: #111;
}

body {
  font-family: var(--font);
  font-weight: 350;

  color: var(--color-text);
  background-color: var(--color-bg);

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

p {
  margin-bottom: 12px;
}

.padding {
  padding-inline: clamp(30px, 8vw, 50px);
  padding-block: clamp(50px, 9vw, 60px) 0px;
  &.bio {
    padding-bottom: 60px;
  }

  @media (min-width: 1100px) {
    padding-inline: 70px;
    padding-block: 90px 0px;
    &.bio {
      padding-bottom: 90px;
    }
  }

  // @media (min-width: 550px) {
  //   padding-inline: 70px;
  //   padding-block: 90px 0px;
  //   &.bio {
  //     padding-bottom: 90px;
  //   }
  // }
}

//------------
// HEADER
//------------

.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  @media (min-width: 800px) {
    position: sticky;
    top: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 50px;
}

.logo span {
  mask-image: url("../img/logotype.svg");
  width: 26px;
  aspect-ratio: 1;
  display: block;
  background-color: var(--color-text);
  mask-repeat: no-repeat;
  mask-position: center;
}

.bio h1 {
  font-size: 20 / 16 * 1em;
}

.pagenav {
  width: max-content;
  li {
    margin-bottom: 30px;
  }

  a {
    display: flex;
    gap: 8px;
    align-items: center;

    transition-property: gap, color;
    transition-duration: 200ms;

    color: var(--color-gray);

    &.active,
    &:hover,
    &:focus {
      color: var(--color-text);

      span {
        width: 50px;
        background-color: var(--color-text);
      }
    }

    span {
      height: 1px;
      width: 24px;
      background-color: var(--color-gray);

      transition-property: width, background-color;
      transition-duration: 200ms;
    }
  }
}

.darkmode {
  color: var(--color-gray);
  font-size: 1.3em;
  width: 24px;
  aspect-ratio: 1;
  border-radius: 100px;
  display: grid;
  place-items: center;

  &:hover,
  &:focus {
    color: var(--color-dark);
  }
}

.tagline {
  line-height: 1.3;
  font-size: 28 / 16 * 1em;
  margin-bottom: 16px;
  text-wrap: balance;

  @media (min-width: 550px) {
    font-size: 40 / 16 * 1em;
  }
}

.symbol {
  width: 28px;
  aspect-ratio: 1;
  position: relative;
  top: 6px;

  display: inline-block;
  background-image: url("../img/star.svg");
  @media (prefers-color-scheme: dark) {
    filter: brightness(1.2) contrast(0.9);
  }

  @media (min-width: 550px) {
    width: 40px;
  }
}

.button {
  cursor: pointer;
  border-radius: 500px;
  transition-property: color, background-color, border-color;
  transition-duration: 200ms;
}

.linknav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  a {
    display: grid;
    place-items: center;
    padding-inline: 22px;
    height: 40px;
    color: var(--color-text);
    border: 1px solid var(--color-text);

    @media (min-width: 550px) {
      padding-inline: 26px;
    }

    &:hover,
    &:focus {
      color: var(--color-gray);
      border-color: var(--color-gray);
    }

    &.linkicon {
      padding-inline: 0;
      aspect-ratio: 1;
      font-size: 1.3em;
    }

    &.linkemail {
      background-color: var(--color-btn);
      color: var(--color-bg);
      border: 1px solid var(--color-btn);
      // border: none;

      &:hover,
      &:focus {
        background-color: var(--color-bg);
        color: var(--color-text);
        border-color: var(--color-text);
      }
    }

    @media (min-width: 550px) {
      height: 48px;
      padding-inline: 30px;
    }
  }
}

li:has(.linkemail) {
  @media (width < 1100px) {
    // margin-right: 2000px;
  }
}

//------------
// PORTFOLIO
//------------

main {
  color: var(--color-light);
  background-color: var(--color-dark);
}

h2 {
  margin-bottom: 18px;
}

section {
  max-width: 60ch;

  min-height: 100svh;
  display: grid;

  // margin-inline: auto;
  @media (min-width: 800px) {
    margin-left: 0;
  }

  &:has(+ section) {
    margin-bottom: 200px;
    @media (min-width: 800px) {
      margin-bottom: 600px;
    }
  }

  & > div {
    min-width: 100%;
  }

  &#contact {
    place-items: center;
    // padding-top: 90px;
  }
}

img {
  border-radius: 0.5em;
  // filter: grayscale(100%)
}

.portfolio img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

h3 {
  font-size: 18 / 16 * 1em;
  margin-top: 12px;
  margin-bottom: 12px;
}

.git {
  font-size: 1.2em;
  position: relative;
  top: 4px;
  transition-property: color;
  transition-duration: 200ms;
  &:hover,
  &:focus {
    color: var(--color-light);
  }
}

.project {
  &:has(+ .project) {
    margin-bottom: 60px;
  }
  a:has(img) {
    transition-property: filter;
    transition-duration: 200ms;
    &:hover,
    &:focus {
      filter: brightness(0.8);
    }
  }
}

.accent-text {
  font-size: 0.85em;
  font-style: italic;
  color: var(--color-gray);
}

.filters {
  margin-top: 20px;

  li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 8px;
  }

  li:has(+ li)::after {
    margin-left: 10px;
    font-style: normal;
    content: "•";
  }
}

//------------
// ABOUT
//------------

.about {
  // display: grid;
  // grid-template-columns: repeat(2, minmax(0, 1fr));
  // gap: 16px;
}

.portrait {
  max-width: 350px;

  margin-top: 26px;
  // margin-inline: auto;
  @media (min-width: 800px) {
    margin-left: 0;
  }
  img {
    margin-block: 8px;
  }
}

//------------
// CONTACT
//------------

form {
  margin-top: 16px;
  & > div {
    display: grid;
    width: 100%;
    gap: 6px;
  }
}

input,
textarea {
  background: none;
  border: none;
  // border: 1px dotted var(--color-gray);
  background-color: var(--color-bg);
  border-radius: 2px;
  color: var(--color-text);
  padding: 6px;
  padding-block: 8px;

  &::placeholder {
    opacity: 0.5;
  }
}

label {
  // padding-inline: 1px;
  margin-top: 16px;
}

textarea {
  resize: vertical;
  max-height: 400px;
}

.submit {
  margin-top: 16px;
  background-color: var(--color-light);
  color: var(--color-dark);
  min-height: 48px;
  // display: inline-block;
  padding-inline: 30px;
  border: 1px solid var(--color-light);

  &:hover,
  &:focus {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}

.hamburger {
  aspect-ratio: 1;
  position: fixed;
  bottom: 60px;
  right: 8vw;

  @media (min-width: 800px) {
    display: none;
  }

  .symbol {
    width: clamp(50px, 46.5px + 0.95vw, 64px);
  }

  transition-property: bottom;
  transition-duration: 700ms;
}

.hamburger-hidden {
  bottom: -100px;
}

.pagenav:has(+ .hamburger[aria-expanded="true"]) {
  position: fixed;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--color-light);
}

.delicious {
  display: none;
}
