@font-face {
  font-family: "PPMori";
  src: url("../fonts/PPMori-VariableVF.woff2")
    format("woff2 supports variations");
  src: url("../fonts/PPMori-VariableVF.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}

:root {
  --font: "PPMori", sans-serif;

  --color-light: hsl(60, 8%, 92%);
  --color-dark: hsl(60, 1%, 15%);
  --color-gray: hsl(48, 10%, 55%);

  --color-bg: var(--color-light);
  --color-text: var(--color-dark);
  --color-btn: var(--color-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gray: #b1ab98;

    --color-bg: hsl(60, 4%, 25%);
    --color-text: var(--color-light);
    --color-btn: var(--color-gray);
  }
}

::selection {
  background-color: var(--color-gray);
  color: var(--color-light);
}
